.back-ground {
    position: fixed;
    width: 2000px;
    height: 1600px;
    left: 1000.73px;
    top: .05px;

    background: linear-gradient(147.34deg, #F8A036 0%, #FF5E43 43.79%);
    border-radius: 149px;
    transform: rotate(-60.11deg);
}
