@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.title {
  width: 40%;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 99px;
  margin-left: 20px;
  color: #424242;
  margin-top: 10%;
}
.parag {
  width: 40%;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 39px;
  color: #424242;
  margin-top: 6%;
  margin-left: 20px;
}
.button {
  width: 20%;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: roboto;
  color: white;
  background: linear-gradient(85.74deg, #f8a036 -2.45%, #ff5e43 113.93%);
  cursor: pointer;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 4%;
  border: 0;
}
.title-resp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  // margin-bottom: 10%;
  /* margin-left: 50%; */
  font-size: calc(80vw / 10);
  font-family: Righteous;
  letter-spacing: 5.5px;
}
.parag-resp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  font-size: 100%;
  /* margin-left: 50%; */
  color: #484848;
  font-family: Righteous;
  margin-left: 2%;
  margin-right: 2%;
}
.button-resp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  @media screen and (min-width: 320px) {
    margin-top: 5%;
    height: 79px;
  }
  @media screen and (max-width: 320px) {
    height: 40px;
    margin-top: 3%;
  }
  background: linear-gradient(
    89.76deg,
    #fa982f 0.18%,
    #ff5e43 99.78%,
    rgba(196, 196, 196, 0) 99.78%
  );
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: white;
  font-size: 24px;
  margin-left: 20%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // cursor: pointer;
  // font-family: roboto;
}

